html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica;
}

header {
  text-transform: uppercase;
}

div {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
background-color: black;
color: white;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo span {
  margin-top: 0.66rem;
  margin-bottom: 0.44rem;
}

.banner {
  background-image: url("../images/moto.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  height: 25rem;

}

.headline {
  background-color: black;
  color: white;
  position: relative;
  width: 20rem;
  padding:2rem 3rem;
  top: 9rem;
}

.headline h4 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.headline h1 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
}

}

p {
  color: black;
}

footer {
  background-color: black;
}
